name: Terraform Provisioning

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: AKIA3ONMAF53LSAKGKV2
          aws-secret-access-key: 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
          aws-region: eu-west-1
      - name: Configure Terraform
        run: |
          cd ~
          touch .terraformrc
          echo 'credentials "app.terraform.io" {
            token = "${{ secrets.TERRAFORM_TOKEN }}"
          }' > ~/.terraformrc

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        run: terraform apply -auto-approve
